body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

#poets {
  background-color: rgba(0, 0, 0, 0.6); /* خلفية مظللة */
  border-radius: 10px;
  padding: 40px;
  margin: 30px auto;
  width: 80%;
}

#poets h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #ffd3d3; /* لون العنوان */
}

.poets-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poet-name {
  font-size: 1.5em;
  color: #ffd700;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.poet-name:hover {
  background-color: rgba(255, 69, 0, 0.8);
}

.poet-poems {
  list-style: none;
  padding-left: 20px;
  display: none; /* بدايةً نخبئ القصائد */
}

.poet-poems li {
  font-size: 1.2em;
  color: #f9f9f9;
  padding: 5px 0;
}

.poet-poems li:hover {
  color: #ffcb00;
}
