body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.header-img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* لضمان ظهور الصورة بشكل جيد */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* التأكد من أن النص يظهر فوق الصورة */
}

h1 {
  margin: 0;
  position: relative;
  z-index: 1; /* جعل النص فوق الصورة */
}

#poets {
  background-color: rgba(0, 0, 0, 0.6); /* خلفية مظللة */
  border-radius: 10px;
  padding: 40px;
  margin: 30px auto;
  width: 80%;
}

#poets h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #ffd3d3; /* لون العنوان */
}

.poets-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poet-name {
  font-size: 1.5em;
  color: #ffd700;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.poet-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; /* المسافة بين الصورة واسم الشاعر */
}

.poet-name:hover {
  background-color: rgba(255, 69, 0, 0.8);
}

.poet-poems {
  list-style: none;
  padding-left: 20px;
  display: none; /* بدايةً نخبئ القصائد */
}

.poet-poems li {
  font-size: 1.2em;
  color: #f9f9f9;
  padding: 5px 0;
}

.poet-poems li:hover {
  color: #ffcb00;
}
